@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}


.topo {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        position: fixed; /* Fixa o cabeçalho no topo da página */
        top: 0; /* Garante que o cabeçalho fique no topo da tela */
        width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
        z-index: 1000; /* Garante que o cabeçalho ficará acima de outros elementos */
}
    


.logo{
    height: 100px;
}

.banner{
    display: flex;
    margin-top: 110px;
}

.banner img{
    width: 100%;
}

.barra-de-pesquisa {
    margin: 20px 0;
    text-align: center;
    position: relative; /* Necessário para posicionar o ícone dentro do container */
}

input::placeholder {
    color: white;
    opacity: 1; /* Garante que a cor seja visível */
}

.barra-de-pesquisa input {
    width: 50%;
    padding: 10px 40px 10px 10px; /* Espaço para o ícone na direita */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.barra-de-pesquisa i {
    position: absolute;
    right: 25%; /* Ajusta a posição com base na largura do input */
    padding-right: 10px;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%);
    color: rgb(255, 255, 255); /* Cor do ícone */
    font-size: 18px;
    pointer-events: none; /* Ícone não interfere na interação do campo */
}

.corpo-produtos{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.texto{
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 0 auto 20px;
    position: relative;
}

.texto::after{
    content: '';
    background-color: rgb(30, 255, 0);
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    color: white;
    text-align: center;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 90px;
}

.coluna{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
}

.coluna img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.image-container {
    position: relative; /* Necessário para posicionar o botão relativo à imagem */
    display: inline-block; /* Ajusta o comportamento do contêiner */
}

.image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.add-to-cart {
    position: absolute;
    bottom: 10px; /* Distância da parte inferior da imagem */
    right: 5px; /* Distância do lado direito da imagem */
    background-color:  rgb(30, 255, 0);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s;
}

.cart-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 35px;
}

.cart-button:hover {
    background-color: rgb(30, 255, 0);
}

.cart-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.cart-modal-content {
    background-color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    position: relative;
    color: rgb(255, 255, 255);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}

.modal-buttons button {
    padding: 15px 13px;
    font-size: 9px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
}

.barra{
    width: 140px;
}

.modal-buttons button:first-child {
    background-color: green;
    color: white;
}

.modal-buttons button:last-child {
    background-color: red;
    color: white;
}



#cartItems {
    list-style: none;
    padding: 0;
    
}

#cartItems li {
    margin-bottom: 10px;
    color: gray
}

#totalPrice {
    font-weight: bold;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

#cartCounter {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px 6px;
    margin-left: 1px;
    font-weight: bold;
    position: relative;
    top: -5px;
}


.add-to-cart:hover {
    background-color: #28a745;
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
}


p{
    color: white;
    font-weight: bold ;
    font-size: 25px;
    text-align: center;
}

h4{
    color: gray;
    font-weight: normal;
    text-align: center;
}

h5{
    color: rgb(255, 230, 0);
    font-weight: normal;
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.estrelas ion-icon{
    color: rgb(255, 81, 0);
}
.estrelas{
    text-align: center;
}

.whatsapp{
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância da parte inferior */
    right: 20px; /* Distância da lateral direita */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    background-color: #25d366; /* Cor de fundo (verde WhatsApp) */
    border-radius: 50%; /* Deixa o botão circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex; /* Centraliza o ícone */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-decoration: none; /* Remove sublinhado do link */
    transition: transform 0.3s ease; /* Animação no hover */
}

.whatsapp:hover{
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}

.whatsapp img {
    width: 40px; /* Tamanho do ícone dentro do botão */
    height: 40px;
}

footer {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    left: 0;
  }

  /* Estilo da seta */
  .seta {
    color: rgb(30, 255, 0);
    font-size: 30px;
    cursor: pointer;
    user-select: none;
  }

  .seta:hover {
    opacity: 0.7;
  }


  h6{
    color: white;
    font-size: 15px;
  }
